<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="efea79">  <td>18/09/30 16:36:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcase_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase_usingPOM.Testcase_CreateLead@9ba398]">CreateLead</td> 
  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/30 16:36:41</td>   <td>667</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcase_usingPOM.Testcase_CreateLead@9ba398]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/30 16:36:22</td>   <td>-18110</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase_usingPOM.Testcase_CreateLead@9ba398]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/30 16:36:21</td>   <td>-18624</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcase_usingPOM.Testcase_CreateLead@9ba398]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/30 16:36:40</td>   <td>78</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase_usingPOM.Testcase_CreateLead@9ba398]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/30 16:36:24</td>   <td>-16260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcase_usingPOM.Testcase_CreateLead@9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/09/30 16:36:22</td>   <td>-18125</td> <td>&nbsp;</td><td title="&gt;&gt;Testcase_CreateLead.setData()[pri:0, instance:testcase_usingPOM.Testcase_CreateLead@9ba398]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
</table>
