<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8e73b0">  <td>18/09/30 18:25:35</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcase_usingPOM.Testcase_CreateLead@9ba398]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/09/30 18:25:35</td>   <td>469</td> <td>&nbsp;</td><td title="&gt;&gt;Testcase_CreateLead.setData()[pri:0, instance:testcase_usingPOM.Testcase_CreateLead@9ba398]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/30 18:25:35</td>   <td>484</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase_usingPOM.Testcase_CreateLead@9ba398]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/30 18:25:37</td>   <td>2305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login()[pri:0, instance:testcase_usingPOM.Testcase_CreateLead@9ba398]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="efea79">  <td>18/09/30 18:25:51</td>   <td>16245</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Testcase_CreateLead.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase_usingPOM.Testcase_CreateLead@9ba398]">CreateLead</td> 
  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/30 18:26:15</td>   <td>39751</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase_usingPOM.Testcase_CreateLead@9ba398]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
<tr bgcolor="8e73b0">  <td>18/09/30 18:26:17</td>   <td>42462</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcase_usingPOM.Testcase_CreateLead@9ba398]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24346938</td>   <td></td> </tr>
</table>
